body {
  color: antiquewhite;
  background-image: url(../images/mörk.jpg);
  background-color: #000000;
  background-position: center center;
  background-size: cover;
}
.bild {
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: rgb(0, 0, 0);
}
.dropdown-menu {
  background-color: rgb(0, 0, 0);
}
.dropdown-item {
  color: white;
}
.dropdown-menu :hover {
  background-color: rgb(54, 54, 54);
}
.lead {
  display: flex;
  justify-content: center;
}
.mainFooter {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(151, 151, 151);
  padding: 10px;
  margin-top: 30px;
}

#kontakt {
  color: rgb(53, 181, 255);
  text-decoration: none;
}

#contactForm {
  display: flex;
  justify-content: center;
}
.VBIinnehåll {
  margin-top: 70px;
}
.box {
  display: flex;
  padding: 30px 20px;
  background: #060629de;
  min-width: 400px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.boxPortfolio {
  display: flex;
  padding: 20px 20px;
  background: #060629de;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.boxPortfolio img{
  width: 250px;
}
h2 {
  margin-left: 1.3em;
}

/* test animation */

.wrapper {
  width: 250px;
  margin: 20px auto;
  padding: 0.5em;
}

.wrapper h2 {
  text-align: left;
  font-size: 1.3em;
}
.line {
  height: 25px;
  min-width: 250px;
  margin: 0 auto 10px;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 10px;
  position: relative;
}
.line::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 25px;
  top: 0;
  z-index: -2;
  background: #d2d6d7;
  border-radius: 15px;
}

.line::after {
  content: "";
  background: #333;
  height: 25px;
  transition: 0.8s;
  display: block;
  width: 100%;
  animation: animate 1 4s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
}
.nicoleLine1::after {
  max-width: 90%;
  background: rgb(196, 47, 66);
}
.nicoleLine2::after {
  max-width: 80%;
  background: rgb(227, 89, 31);
}
.nicoleLine3::after {
  max-width: 70%;
  background: rgb(2, 35, 89);
}
.nicoleLine4::after {
  max-width: 75%;
  background: rgb(221, 191, 23);
}

.sofiaLine1::after {
  max-width: 90%;
  background: rgb(196, 47, 66);
}
.sofiaLine2::after {
  max-width: 80%;
  background: rgb(227, 89, 31);
}
.sofiaLine3::after {
  max-width: 70%;
  background: rgb(2, 35, 89);
}
.sofiaLine4::after {
  max-width: 75%;
  background: rgb(8, 142, 151);
}

.kalleLine1::after {
  max-width: 90%;
  background: rgb(196, 47, 66);
}
.kalleLine2::after {
  max-width: 80%;
  background: rgb(227, 89, 31);
}
.kalleLine3::after {
  max-width: 70%;
  background: rgb(2, 35, 89);
}
.kalleLine4::after {
  max-width: 75%;
  background: rgb(221, 191, 23);
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
